<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="typePresta">type</label>
    <input type="text" class="form-control" id="typePresta" formControlName="typePresta">
  </div>

  <div class="form-group">
    <label for="client">designation</label>
    <input type="text" class="form-control" id="client" formControlName="designation">
  </div>

  <div class="form-group">
    <label for="nbJours">nb Jours</label>
    <input type="number" class="form-control" id="nbJours" formControlName="nbDays">
  </div>

  <div class="form-group">
    <label for="tjmHt">Unit price</label>
    <input type="number" class="form-control" id="tjmHt" formControlName="unitPrice">
  </div>

  <div class="form-group">
    <label for="state">state</label>
    <select class="form-control" id="state" formControlName="state">
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
