<header class="fixed-top">
  <ng-content select=".tr-header"></ng-content>
  <span (click)="toggle()">
    <ng-content select=".tr-btn"></ng-content>
  </span>
</header>
<main [ngClass]="{'close-aside': close}">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <ng-content select=".tr-nav"></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
      content
    </div>
    <footer>
      <ng-content select=".tr-footer"></ng-content>
    </footer>
  </div>
</main>
