<header class="fixed-top">
  <span (click)="toggle()">
    <!-- <ng-content *ngIf="close" select=".tr-open"></ng-content>
    <ng-content *ngIf="!close" select=".tr-open"></ng-content> -->
    <ng-container *ngIf="close; then thenBlock else elseBlock"></ng-container>
    <ng-template #thenBlock>
      <ng-content select=".tr-open"></ng-content>
    </ng-template>
    <ng-template #elseBlock>
      <ng-content select=".tr-close"></ng-content>
    </ng-template>
  </span>

  <ng-content select=".tr-header"></ng-content>
</header>
<main [ngClass]="{'close-aside': close}">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <ng-content select=".tr-nav"></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
      <ng-content select=".tr-content"></ng-content>
    </div>
    <footer>
      <ng-content select=".tr-footer"></ng-content>
    </footer>
  </div>
</main>
